{% include 'header.html' %}
<div class="container-fluid">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Kampung Wirausaha Cooperation Partners</h5>
        <!-- Single item -->
        <div>
          <div class="container">
            <div class="row"  style="margin-left: auto;">
              <div class="col-lg-10">
                <div class="card">
                  <img src="{{ url_for('static', filename='assets/images/moko_garment.png')}}" 
                  class="card-img-top" 
                  alt="Moko Garment Indonesia"
                  style="width: 140px; margin-left: 20px; margin-top: 35px;" />
                  <div class="card-body">
                    <!-- <h3 style="margin-left: 340px;" class="card-title">MOKO GARMENT INDONESIA</h3> -->
                    <p class="card-text" style="text-align: justify;">
                      MOKO GARMENT INDONESIA merupakan perusahaan manufacture pakaian yang berfokus pada pembuatan pakaian, mulai dari kemeja kerja, rompi, wearpack safety, jaket, dll.
                      Mitra pembuatan baju seragam yang tepat untuk berbagai kebutuhan anda.
                    </p>
                    <a href="http://moko.co.id/" class="btn btn-light btn-sm" style="float: right;">visit now</a>
                  </div>
                </div>
              </div>

              <div class="col-lg-10">
                <div class="card">
                  <img src="{{ url_for('static', filename='assets/images/mokoworkwear.jpg')}}"
                  class="card-img-top"
                  alt="Mokoworkwear"
                  style="width: 255px; height: 80px; margin-left: 30px; margin-top: 40px;" />
                  <div class="card-body">
                    <!-- <h3 style="margin-left: 380px;" class="card-title">MOKOWORKWEAR</h3><br> -->
                    <p class="card-text" style="text-align: justify;">
                      MOKOWORKWEAR merupakan konsultan seragam dan produsen garmen profesional yang berbasis di Semarang, Indonesia. Dengan lebih dari dua dekade akumulasi pengalaman.
                      Dengan kapasitas produksi lebih dari 10.000 POTONG garment per bulan serta lebih dari 380 KLIEN di Indonesia saja.
                    </p>
                    <a href="https://mokoworkwear.com/" class="btn btn-light btn-sm" style="float: right;">visit now</a> 
                  </div>
                </div>
              </div>

              <div class="col-lg-10">
                <div class="card">
                  <img
                    src="{{ url_for('static', filename='assets/images/gema.png')}}"
                    class="card-img-top"
                    alt="Gema"
                    style="width: 170px; margin-left: 20px; margin-top: 35px;" 
                  />
                  <div class="card-body">
                    <!-- <h3 style="margin-left: 380px;" class="card-title">GEMA INDONESIA</h3><br> -->
                    <p class="card-text"  style="text-align: justify;">
                      GEMA INDONESIA merupakan sebuah koperasi yang dikelola dengan managamen modern,
                      menggunakan platform Equity Crowdfunding untuk pengembangan usaha seperti Usaha Mikro,
                      Kecil dan Menengah (UMKM), serta usaha rintisan (Startup).
                    </p>
                    <a href="https://gemaindonesia.id/" class="btn btn-light btn-sm" style="float: right;">visit now</a> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      
{% include 'footer.html' %}